catkin_tools
ConfigParser
catkin_pkg
requests
future
wstool
pycrypto
pydot2
hashlib
#keyring # Using system-wide installation
-e git+https://github.com/cbandera/click.git@40e6f575cc2e1f57e1edd50255b437d2347fc723#egg=click
-e git+https://github.com/cbandera/pyapi-gitlab.git@057a1e4ec67037ba964f9531c236ee4737d3242a#egg=pyapi-gitlab
