# Python applications
pip==8.1.2
catkin-tools==0.4.2
wstool==0.1.12

# Custom pip packages
git+https://github.com/cbandera/click.git@8e18d48f925c312f47d2075e1392d49dc4818c95#egg=click
git+https://github.com/cbandera/pyapi-gitlab.git@057a1e4ec67037ba964f9531c236ee4737d3242a#egg=pyapi-gitlab

# Fix dot parser error
http://pypi.python.org/packages/source/p/pyparsing/pyparsing-1.5.7.tar.gz#md5=9be0fcdcc595199c646ab317c1d9a709
pydot==1.1.0

# Fix insecure plattform warning
ndg-httpsclient==0.4.1

# Pinning normal python packages
argparse==1.4.0           # via catkin-pkg
catkin-pkg==0.2.10
ConfigParser==3.5.0
decorator==4.0.9          # via gssapi
docutils==0.12            # via catkin-pkg
ecdsa==0.13               # via paramiko
enum34==1.1.3             # via gssapi
future==0.15.2
futures==3.0.5            # via trollius
python-gssapi==0.6.4
hashlib==20081119
osrf-pycommon==0.1.2      # via catkin-tools
paramiko==1.16.0
pycrypto==2.6.1
python-dateutil==2.5.3    # via catkin-pkg, vcstools
pyyaml==3.11              # via catkin-tools, vcstools, wstool
requests==2.9.1
rospkg==1.0.39
simplejson==3.8.2
six==1.10.0               # via gssapi, python-dateutil, trollius
trollius==2.1             # via osrf-pycommon
Unidecode==0.4.19
vcstools==0.1.38          # via wstool
